.date-picker .text-field {
    -fx-control-inner-background:  #3c6255 ;
    -fx-background-radius: 8 8 8 8;
    -fx-text-fill: #eae7b1;
}

.date-picker .arrow-button {
    -fx-background-color:  #61876E ;
}

.date-picker .arrow-button .date-picker{
    -fx-background-color:  #3c6255 ;
}